tab1 { padding-left: 4em; }

@font-face {  
    font-family:  Candara;
    src: url('fonts/Candara.ttf');
    
}

body {
    font-family: Candara;
	background-color: #7E99B5;
	background-repeat: no-repeat;
	background-size: cover;
}
	
.container {
	width: 1000px;
	margin: auto; 
}

.content{
	width: 940px;
	color: #FFFFFF;
	background: #4A6A89;
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 10px;
	float: left;
}

#nav {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: hidden;
	background-color: #395168;
}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;  
}
#nav li a:hover {
	color: #000000;
	background-color: #ADB9C6;   
}

.footer{
	color: #FFFFFF;
	padding-top:30px;
	padding-left:30px;
	padding-right: 30px;
	padding-bottom: 30px;
	background: #395168;
	position: relative;
	clear: both;
}