{% extends 'base.html'%}
{% load static %}
{% block content %}

<body style = "background-image: url({% static 'images/background1.2.jpg' %}); background-size: cover;background-position: center center;background-attachment: fixed;"></body>
<div class="container-fluid" style="width:90%;margin-top:5%;border-color:black;background-color: whitesmoke; border-width:1rem;margin-left: 5%;align-content: center;">
    <div class="row flex-nowrap wrapper" style="margin-top:5%; margin-left:5%; align-content:center;">
        <!--page 1: review items in cart-->
        <form action="" method="POST">
        <div id="Page1"> 
            {% csrf_token %}
            <div class="container" style="width:100%; border:black solid; margin-top:5%; padding-bottom: 3%;">
                <h2 style="align-content: center;margin-top:5%;">Review Items</h2>
            </div>
            <div class="container" style="margin-top:5%; border:black solid; padding-top:2%;">
                <!-- FOR LOOP FOR LISTING RESTAURANTS-->

                    <table class = "table table-bordered table-striped" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:80%;">Item</th>
                                <th style="widows: 5%;">Quantity</th>
                                <th style="width:15%;">Price</th>
                            </tr>
                        </thead>
                        <tbody id="menu">
                            <!-- FOR LOOP FOR LISTING ITEMS IN MENU-->
                            {% for item in cart %}
                            <tr>
                                <td><input type="checkbox" name="cart_items[]" value="{{item.id}}" onchange="removeFromCart(this.id)"checked></p>
                                    <p>{{item.name}}</p>
                                    <p>
                                        Special Instructions:
                                        <p >{{item.instructions}}</p>
                                    </p>
                                </td>
                                <td><!--
                                    <div class="dropdown" data-toggle="dropdown">
                                        <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                                            <span class="carat">
                                                1 //quantity chosen
                                            </span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="#">2</a>
                                        </div>
                                    </div>-->
                                   
                                        <!-- QUANTITY INTO PLACEHOLDER -->
                                        <input type="text" name="quantities[]" id="{{item.id}}" value ="{{item.quantity}}" style="width:80%;" placeholder="current quantity"></input>
                                        
                                </td>
                                <td>
                                    $<p style="display:inline;" >{{ item.price }}</p>
                                </td>
                            </tr>
                           
                            {% endfor %}
                            <!-- END FOR LOOP FOR LISTING ITEMS IN MENU -->
                        </tbody>                        
                    </table>
                <!-- END FOR LOOP FOR RESTAURANT -->
                <div style="text-align: right;margin-right:2%;">
                    <h4 style="display:inline;">SubTotal: $ </h4><h4 style="display:inline;" id="subtotal">{{ subtotal }}</h4>
                </div>
                <div style="text-align: right;margin-right:2%;">
                <h4 style="display:inline;">Tax: $ </h4><h4 style="display:inline;" id="tax">{{ tax }}</h4>
                </div>
                <div style="text-align: right;margin-right:2%;">
                    <h4 style="display:inline;">Total: $ </h4><h4 style="display:inline;" id="total">{{ total }}</h4>
                </div>
            </div>
            <!--navigation bar for order page-->
            <nav>  
                <ul class="pagination justify-content-center" style="margin-top:5%; margin-bottom: 7%;">
                    <li class="page-item disabled">
                    <a class="page-link" href="" tabindex="-1">Previous Step</a>
                    </li>
                    <li class="page-item active"><a class="page-link">Review Cart</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Delivery Options</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Payment Options</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Confirm Order</a></li>
                    <li class="page-item">
                    <a class="page-link" href="" onclick="return show('Page2', 'Page1');">Next Step</a>
                    </li>
                </ul> 
            </nav>
            <!--end navigation bar-->
        </div> 
        <!--end page 1-->
        
        <!--PAGE 2: Delivery Options-->
        <div id="Page2" style="display:none;">
            <div class="container" style="width:100%; border:black solid; margin-top:5%; padding-bottom: 3%;">
                <h2 style="align-content: center;margin-top:5%;">Delivery Options</h2>
            </div>

            <div class="container" style="width:100%; border:black solid; margin-top:5%; padding-bottom: 3%;">
                <br>
                <!-- Select Delivery Address dropdown -->
                <div class="form-group form-inline">
                    <label style="color: black; font-family: sans-seriff; font-weight: bold;">Select Delivery Address:</label>
                    <select class="form-control" id="selectAddress"   name="address"  style="font-family: sans-seriff;" onchange="check()" value="{{address}}">
                       
                        <option value="main">Main Address</option>
                        <option value="new">New Address</option>
                       
                    </select>
                </div>
                {% for address in addresses %}
                <br>
            
                <!-- STATEMENT TO CHANGE LABEL TEXT ACCORDING TO SELECTED ITEM IN THE ABOVE DROPDOWN ^ -->
                <label style="font-family: sans-seriff; font-weight: bold;">{{address.street}}</label>
                <br>

                <label style="font-family: sans-seriff; font-weight: bold;">Street Address:</label>
                <input style="font-family: sans-seriff;" class="form-control" id="street" name="street" value ="{{address.street}}" placeholder="1234 StreetName St.">
                <br>

                <label style="font-family: sans-seriff; font-weight: bold;">Apartment Number (If applicable):</label>
                <input style="font-family: sans-seriff;" class="form-control" id="apt" name="apt" value="{{address.apt}}" placeholder="Apt. Number">
                <br>

                <label style="font-family: sans-seriff; font-weight: bold;">City:</label>
                <input style="font-family: sans-seriff;" class="form-control" id="city" name="city" value="{{address.city}}" placeholder="City">
                <br>

                <!-- State Dropdown-->
                <div class="form-group">
                    <label style="color: black; font-family: sans-seriff; font-weight: bold;">State:</label>
                    <select class="form-control" id="stateselect" value="{{address.state}}" name="state" style="font-family: sans-seriff;" value="{{address.state}}">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select>
                </div>

                <!-- don't remember if address will be associated with country and phone # according to our database-->
                <label style="font-family: sans-seriff; font-weight: bold;">Zip Code:</label>
                <input style="font-family: sans-serif;" id="zip" name="zip" value="{{address.zip}}" class="form-control" placeholder="12345">
                <br>
                
                {% endfor %}
                <div class="text-center">
                    <label style="color: black; font-family: sans-seriff; font-weight: bold;">Tip: $</label>
                    <input type="text" name="tip" id="tip" placeholder="0000.00" value="0.00"></input>
                </div>
                <br>
                <br>

                <div class="form-group" style="max-width:50%;">
                    <h4>Delivery Instructions</h4>
                    <textarea class="form-control" name="DeliveryInstructions" placeholder="Comment Here..." rows="5" id="comment"></textarea>
                </div>

                <!-- Button to give user an option to save a new delivery address/information -->
                <div class="text-center">
                    <label style="color:black; font-family: sans-seriff; font-weight: bold;">Save as New Address (Optional) </label>
                    <input style="font-size:.7rem; max-width: 10%;" class="btn btn-primary btn-lock" type="submit" value="save">
                </div>
            </div>
            <br>

            <nav>  
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="" onclick="return show('Page1','Page2');">Previous Step</a>
                    </li>
                    <li class="page-item"><a class="page-link" style="color:black;">Review Cart</a></li>
                    <li class="page-item active"><a class="page-link">Delivery Options</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Payment Options</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Confirm Order</a></li>
                    <li class="page-item">
                        <a class="page-link" href="" onclick="return show('Page3', 'Page2');">Next Step</a>
                    </li>
                </ul> 
            </nav>
        </div> 
        <!--end page 2-->

        <!--page 3: payment options-->
        <div id="Page3" style="display:none;"> 
            <div class="container" style="width:100%; border:black solid; margin-top:5%; padding-bottom: 3%;">
                    <h2 style="align-content: center;margin-top:5%;">Payment Options</h2>
            </div>
            <br>
            <div class="container" style="width:100%; padding-bottom:3%;">
                <h4>Please input card information:</h4>
               
                    <label>Name On Card:</label>
                    <input style="font-family: sans-seriff;" type="" id="cardowner" name="cardowner" class="form-control" value ="" placeholder="Name on card...">
                    <br>
                    <label>Card Number:</label>
                    <input style="font-family: sans-seriff;" type="" id="cardnum" name="cardnum" class="form-control" value ="" placeholder="Card number...">
                    <br>
                    <div class="row">
                        <div class="col-lg-3">
                            <label>Zip Code:</label>
                            <input style="font-family: sans-seriff;" type="" name="" class="form-control" value ="" placeholder="Zip Code...">
                        </div>
                        <div class="col-lg-3">
                            <label>Expiration Date:</label>
                            <input style="font-family: sans-seriff;" type="" name="" class="form-control" value ="" placeholder="MM/YY">
                        </div>
                        <div class="col-lg-3">
                            <div class="row">
                                <div class="col-sm-2">
                                    <label>CVV:</label>
                                </div>
                                <div class="col-sm-2">
                                    <!-- Trigger the modal with a button -->
                                    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">?</button>
                                    <!-- Modal -->
                                    <div id="myModal" class="modal fade" role="dialog">
                                        <div class="modal-dialog">
                                            <!-- Modal content-->
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">What is CVV</h4>
                                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>CVV is short for Card Verification Value.  It is a three or four digit number on a credit card that adds an extra level of security when making purchases online or over the phone.</p>
                                                    <img src="../bearbites/static/images/cvv-code-credit-card.jpg" class="img-responsive" style="width:20rem;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <input style="font-family: sans-seriff;" type="" name="" class="form-control" value ="" placeholder="CVV...">
                        </div>
                    </div>
              
            </div>
            <div class="container" style="width:100%; border:black solid; padding-top:5%; padding-bottom: 3%;">
                    <table class = "table table-bordered table-striped" style="width:100%">
                            <thead>
                                <tr>
                                    <th style="width:45%;">Item</th>
                                    <th style="widows: 5%;">Quantity</th>
                                    <th style="width:15%;">Price</th>
                                </tr>
                            </thead>
                        <tbody id="menu">
                            {% for item in cart %}
                            <tr>
                                <td>
                                    <p><!--ITEM NAME-->{{item.name}}</p>
                                </td>
                                <td>
                                    <!--QUANTITY HERE-->{{item.quantity}}
                                </td>
                                <td>
                                    $<!--ITEM PRICE * QUANTITY-->{{item.price }}
                                </td>
                            </tr>
                            <!-- END FOR LOOP FOR LISTING ITEMS IN MENU -->
                            {% endfor %}
                            <!-- END FOR LOOP FOR LISTING ITEMS IN MENU -->
                        </tbody>                        
                    </table>
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h6 style="display:inline;">Cart: $ <!--CART COST--></h6><h6 id="totalcart1" style="display:inline;"></h6>
                    </div>  
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h6 style="display:inline;">Tax: $ <!--TAX COST--></h6><h6 id="taxvalue1" style="display:inline;">$ </h6>
                    </div>  
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h6 style="display:inline;">Tip: $ <!--TIP IF DESIRED--></h6><h6 id ="tipvalue1" style="display:inline;"></h6>
                    </div>  
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h5 style="font-weight: bold; display:inline;" >Total $ <!--CART + TAX + TIP--></h5><h5 style="font-weight: bold; display:inline;" id="totalvalue1">Total: $ <!--CART + TAX + TIP--></h5>
                    </div>  
                  
            </div>
            <br>
            <nav>  
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="" onclick="return show('Page2','Page3');">Previous Step</a>
                    </li>
                    <li class="page-item"><a class="page-link" style="color:black;">Review Cart</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Delivery Options</a></li>
                    <li class="page-item active"><a class="page-link">Payment Options</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Confirm Order</a></li>                       
                    <li class="page-item">
                        <a class="page-link" href="" onclick="return show('Page4', 'Page3');">Next Step</a>
                    </li>
                </ul> 
            </nav>
        </div> 
        <!--end page 3-->

        <!--PAGE 4: Confirm Order-->
        <div id="Page4" style="display:none;"> 
            <div class="container" style="width:100%; border:black solid; margin-top:5%; padding-bottom: 3%;">
                <h2 style="align-content: center;margin-top:5%;">Confirm Order</h2>
                <br>

                <div class="container" style="width:100%; border:black solid; padding-top:5%; padding-bottom: 3%;">
                    <table class = "table table-bordered table-striped" style="width:100%; font-family: sans-seriff; ">
                            <thead>
                                <tr>
                                    <th style="width:35%;">Item</th>
                                    <th style="widows: 5%;">Quantity</th>
                                    <th style="width:15%;">Price</th>
                                </tr>
                            </thead>
                        <tbody id="menu">
                            <!-- FOR LOOP FOR LISTING ITEMS IN CART-->
                            {% for item in cart %}
                            <tr>
                                <td>
                                    <p><!--ITEM NAME-->{{item.name}}</p>
                                </td>
                                <td>
                                    <!--QUANTITY HERE-->{{item.quantity}}
                                </td>
                                <td>
                                    $<!--ITEM PRICE * QUANTITY-->{{item.price }}
                                </td>
                            </tr>
                            <!-- END FOR LOOP FOR LISTING ITEMS IN MENU -->
                            {% endfor %}
                        </tbody>                        
                    </table>
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h6 style="display:inline;">Tax: $ <!--TAX COST--></h6><h6 id="taxvalue" style="display:inline;">$ </h6>
                    </div>  
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h6 style="display:inline;">Cart: $ <!--CART COST--></h6><h6 id="totalcart" style="display:inline;"></h6>
                    </div>  
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h6 style="display:inline;">Tip: $ <!--TIP IF DESIRED--></h6><h6 id ="tipvalue" style="display:inline;"></h6>
                    </div>  
                    <div style="text-align:right; margin-right:2%; font-family: sans-seriff;">
                        <h5 style="font-weight: bold; display:inline;" >Total $ <!--CART + TAX + TIP--></h5><h5 style="font-weight: bold; display:inline;" id="totalvalue">Total: $ <!--CART + TAX + TIP--></h5>
                    </div>  
                 
                    <br>
                    <br>
                </div>
                <br>

                <!--NEED TO PRINT OUT DELIVERY ADDRESS AND PROFILE VALUES HERE-->
                <h4>Deliver To:</h4>
                <div style="font-family: sans-seriff;">
                    <label id="deliverName">FirstName LastName<!--NAME OF USER--></label><br>
                    <label id="deliverStreet">1234 StreetName St.<!--DELIVERY STREET--></label><br>
                    <label id="deliverApartment">Apt. Number<!--DELIVERY APARTMENT NUMBER (ONLY IF NOT NULL)--></label><br>
                    <label id="deliverCity">City, <!--DELIVERY CITY--></label>
                    <label id="deliverState">State <!--DELIVERY STATE--></label>
                    <label id="deliverZip">12345<!--DELIVERY ZIPCODE--></label><br>
                </div>
                <br>
                <br>
                <h4>Billing Information:</h4>
                <div style="font-family: sans-seriff;">
                    <label id="cardName">FirstName LastName<!--NAME OF CARDHOLDER--></label><br>
                    <div>
                        <label style="display:inline">Card Ending with</label><label id="cardNumber" style="display:inline"></label><br>
                    </div>
                    
                </div>

            </div>
            <br>

            <nav>  
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="" onclick="return show('Page3','Page4');">Previous Step</a>
                    </li>
                    <li class="page-item"><a class="page-link" style="color:black;">Review Cart</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Delivery Options</a></li>
                    <li class="page-item"><a class="page-link" style="color:black;">Payment Options</a></li>
                    <input class="nav-link btn btn-primary" type="submit"   value="Confirm Order">
                    <li class="page-item disabled">
                        <a class="page-link" href="" tabindex="-1">Next Step</a>
                    </li>
                </ul> 
            </nav>
        </div> 
        <!--end page 4-->
        
    </div>
</div>
</form>
<script>
        var orgurl = window.location.protocol + "/" + window.location.host +"/order"
        window.history.pushState({path:orgurl},'',"/order/");
        var add = document.getElementById("stateselect").getAttribute('value'); 
        document.getElementById("stateselect").value = add;

        function show(shown,hidden){
           
            if (shown=='Page3'){
                var tip = $("#tip").val();
                var tax = $("#tax").html();
                var cart = $("#subtotal").html();
                $("#tipvalue1").html(tip);
                $("#taxvalue1").html(tax);
                $("#totalcart1").html(cart);
                var cartval = parseFloat($("#totalcart1").html());
                var tipval = parseFloat($("#tipvalue1").html());
                var finaltotal = cartval + tipval ;
                var Num = finaltotal*100
                 Num = Num/100.00
                $("#totalvalue1").html(Num.toFixed(2));
            }
            if (shown=='Page4'){
                var cardOwner = $("#cardowner").val();
                var fourdigits = $("#cardnum").val();
                var replaced = fourdigits.replace(/.(?=.{4,}$)/g, '#');
                var street = $("#street").val();
                var apt = $("#apt").val();
                var city = $("#city").val();
                var state = $("#stateselect").val();
                var zip = $("#zip").val();
                var tip = $("#tip").val();
                var tax = $("#tax").html();
                var cart = $("#total").html();
                $("#deliverName").html(cardOwner);
                $("#deliverStreet").html(street);
                if (apt == "None"){
                    apt ="";
                }
                $("#deliverApartment").html(apt);
                $("#deliverState").html(state);
                $("#deliverCity").html(city);
                $("#deliverZip").html(zip);
                $("#cardName").html(cardOwner);
                $("#cardNumber").html(replaced);
                $("#cardnum").html(replaced);
                $("#tipvalue").html(tip);
                $("#taxvalue").html(tax);
                $("#totalcart").html(cart);
                var cartval = parseFloat($("#total").html());
                var tipval = parseFloat($("#tipvalue").html());
                var finaltotal = cartval + tipval ;
                var Num = finaltotal*100
                 Num = Num/100.00
                $("#totalvalue").html( Num.toFixed(2));


            }
            document.getElementById(shown).style.display='block';
            document.getElementById(hidden).style.display='none';
            return false;
        }
    /***************************************************************
            Check if item has been updated and remove from cart
    ***************************************************************/
        const selectElement = document.querySelectorAll('input[name="quantities[]"]');
        selectElement.forEach(function(btn) {
            btn.addEventListener('change', function() {
                alert("Cart has been updated");
                var id= event.target.id;       
                updateFromCart(id);
                location.reload();
                return false;
        });
    });
    function check(){
        var e = document.getElementById("address");
        if (e.val == "new"){
            $("#street").value("");
            $("#apt").value("");
            $("#city").value("");
            
            $("#zip").value("");
        }
        
            
    }

         // Change to include itemID as a parameter
         function updateFromCart(itemId){
            
            /****************************************************
                Update Cookie for handling the cart
            ****************************************************/
            
            // Get cart of items as an object.
            var picnicBasket = Cookies.getJSON('cart');
            
            if (picnicBasket != undefined) { // If cart is empty
                for ( let i = 0; i < picnicBasket.length; i++){
                    if(picnicBasket[i].id == itemId){
                        picnicBasket[i].quantity = $("#"+ itemId).val();
                        Cookies.set('cart',picnicBasket); // Add cookie
                    }
                }
            }
            
            
            
        }

           
            /***************************************************************
                Check if item has been unselected and remove from cart
            ***************************************************************/
        function removeFromCart(itemId){
            
            /****************************************************
                Update Cookie for handling the cart
            ****************************************************/
            
            // Get cart of items as an object.
            var picnicBasket = Cookies.getJSON('cart');
            
            if (picnicBasket != undefined) { // If cart is empty
                var continue_delete = false;
                for ( let i = 0; i < picnicBasket.length; i++){
                    var size = picnicBasket.length-1;
                    if( i == size){
                        picnicBasket.pop();
                        alert("Item has been removed from cart");
                        location.reload();
                        return false;
                    }
                    else if(picnicBasket[i].id == itemId){
                        picnicBasket[i].quantity = $("#"+ itemId).val();
                        picnicBasket[i] = picnicBasket[i+1];
                        continue_delete = true;
                    }
                    else if (continue_delete == true || i < size ){
                        picnicBasket[i] = picnicBasket[i+1];
                    }
                }
                Cookies.set('cart',picnicBasket); // Add cookie
            } 
            
        }    
        
</script>   

</body>
{% endblock %}