{% load static %}
<footer style="background-color: #3f3f3f; color:#d5d5d5; padding-top:2rem;">
<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-md-4">
            <img src="{% static 'brand/logoBanner.png' %}" style="width:20rem;">
            <hr class="light" style="border-top:1px solid #dfdfdf; width:75%; Margin-top:.8rem; margin-bottom:1rem;">
            <p style="font-family:Mono;">(420)420-6969</p>
            <p style="font-family:Mono;">biteme@BearBites.com</p>
            <p style="font-family:Mono;"> 21 Picnic Row</p>
            <p style="font-family:Mono;"> JellyStone, USA, 99999</p>
        </div>
        <div class="col-md-4">
            <hr class="light" style="border-top:1px solid #dfdfdf; width:75%; Margin-top:.8rem; margin-bottom:1rem;">
            <h5>Useful links</h5>
            <hr class="light" style="border-top:1px solid #dfdfdf; width:75%; Margin-top:.8rem; margin-bottom:1rem;">
            <p style="font-family:Mono;"><a href="https://youtu.be/dQw4w9WgXcQ" target="_blank" style="text-decoration:none; color: #dfdfdf;"> Lotto Picnic Basket Cards</a></p>
            <p style="font-family:Mono;"><a href="http://www.nyan.cat/" target="_blank" style="text-decoration:none; color: #dfdfdf;">FAQ</a></p>
            <p style="font-family:Mono;"><a href="https://hackertyper.net/" target="_blank" style="text-decoration:none; color: #dfdfdf;">Join our fan club</a></p>
            <p style="font-family:Mono;"><a href="javascript:(function()%7Bjavascript:var%20s%3Ddocument.createElement(%27script%27)%3Bs.setAttribute(%27src%27,%27https://nthitz.github.io/turndownforwhatjs/tdfw.js%27)%3Bdocument.body.appendChild(s)%3B%7D)()%3B" style="text-decoration:none; color: #dfdfdf;">Tech Support</a></p>
        </div>
        <div class="col-md-4">
            <hr class="light" style="border-top:1px solid #dfdfdf; width:75%; Margin-top:.8rem; margin-bottom:1rem;">
            <h5>Social Media</h5>
            <hr class="light" style="border-top:1px solid #dfdfdf; width:75%; Margin-top:.8rem; margin-bottom:1rem;">
            <p style="font-family:Mono;"><a href="https://www.facebook.com/groups/2109485129268357" target="_blank" style="text-decoration:none; color: #dfdfdf;">Facebook</a></p>
            <p style="font-family:Mono;"><a href="http://www.viciouspotato.net/" target="_blank" style="text-decoration:none; color: #dfdfdf;">Myspace(OG)</a></p>
        </div>
        
        <div class="col-12">
            <hr class="light" style="border-top:1px solid #dfdfdf; width:100%; Margin-top:.8rem; margin-bottom:1rem;">
            <h5>&copy; BearBites</h5>
        </div>
    </div>
</div>
</footer>