  
{% extends 'base.html'%}
{% load static %}

{% block content %}
<body style="background-image: url({% static 'images/background1.2.jpg' %}); background-size: cover;background-position: center center;background-attachment: fixed;">
    
    <div class = "location-content">
        <div style="background-color:white; color: black; margin: 3%; border-radius:10px;">
            
            <br>
            
            <!-- Search Locations: -->
            <!-- Current implementation is by zipcode: -->
            <div id="search-box" style = "background-color: #333;padding: 30px;margin-left: 5%;margin-right: 5%; margin-top: 1%;border-radius:10px;">
                <h1 class="text-center" style="font-family: Bearskin; flex-grow:1; color:white;">Which beary bite-tastic partners are near you?</h1>
                <form class="form-inline justify-content-center" method="POST">
                    {% csrf_token %}
                    <i class="fa fa-search fa-3x py-2 p-1" style="color:white;"></i>
                    <input class="form-control form-control-lg ml-3 w-75" type="text" name ="search" placeholder="Zipcode" aria-label="Search">
                    <input style="margin-left:10px" type="submit" name="submit" value="submit" class="btn btn-primary btn-lg">
                </form>
            </div>
            
            <br>
            
            <h1 class="text-center" style="font-family: Bearskin; flex-grow:1;"> Locations: </h1>
            
            <!-- To Do: show restaurant upon clicking it. -->
            <div class = "card-deck" style = "margin:2%; padding-bottom:100px;">
                <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}">
                <!--Restaurant List-->
                <!-- To Do: Only show restaurants that are Open during current hours -->
              
                {% for restaurant in restaurants %}
                    <a class = "col-sm col-md-6 card-block text-decoration-none" href="#" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); max-width: 300px; margin: auto; text-align: center; background-color:#333; border-radius:10px; opacity: 0.9;">
                            <!-- image of restaurant -->
                            <img src="{{restaurant.LogoUrl}}"  style="width:100%">
                            
                            <!-- restaurant name -->
                            <h1>{{restaurant.RestaurantName}}</h1>
                            <p class="title" style = "color:white; font-weight:bold; font-size: 18px;font-family: sans seriff;">{{restaurant.address}}</p>
                            <!-- availability -->
                            <p class="title" style = "color:white; font-weight:bold; font-size: 18px;font-family: sans seriff;">Available for Delivery!</p>
                            
                            <!-- restaurant item type -->
                            
                            <!-- button for ordering from -->
                            <!-- TO DO: Check if user is logged in first-> if not ask if they want to log in. -->
                            <p><input onclick="openForm()" style="font-size:30px;" type="submit" name="submit" value="Order Now!" class="btn btn-primary btn-lock btn-block"></button></p>
                            <!-- Supposed popup box that shows up when you click on resturant order button-->
                            
                        
                    </a>
                {% endfor %}
                
            </div>
            
            <div id="restaurantPopup" style="z-index:999;">
                <!-- Popup Div Starts Here -->
                
                <div id="popupContact" style="width: 80%;left:20%;">
                    
                    <form action="#" id="form" method="post" name="form">
                        <img id="close" style="width:40px;" src="https://icons.iconarchive.com/icons/custom-icon-design/mono-general-1/512/close-icon.png" onclick ="closeForm()">
                        <h2>{{RestaurantName}}</h2>
                        <hr>
                        <table class="table table-striped" style = "color: white;">
                            <thead>
                                <tr>
                                    <th style = "color: white;">Item</th>
                                    <th style = "color: white;">Price</th>      
                                </tr>
                            </thead>
                            <tbody>
                        
                            {% for item in menuitems %}
                            <tr><td style = "color: white;">{{ item.ItemName }}</td><td style = "color: white;">{{ item.Price }}</td>
                            </tr>
                        <!-- End loop through menus here -->
                        {% endfor %}
                    </tbody>
                        </table>
                    </form>
                    
                </div>
                
                <!-- Popup Div Ends Here -->
            </div>   
            
        </div>
            
    </div>
    
    <script>
        function openForm() {
             document.getElementById("restaurantPopup").style.display = "block";
        }
        
        function closeForm() {
          document.getElementById("restaurantPopup").style.display = "none";
        }

        var username = document.getElementById("login").getAttribute('data-js-vars');  
            if (username != "") {
             // do something 
                 document.getElementById("home").innerHTML = "Dashboard";
                 document.getElementById("home").setAttribute("href", "/dashboard");
                 document.getElementById("login").innerHTML = username;
                 document.getElementById("login").setAttribute("href", "/profile");
                 var elem = document.getElementById('logout');
                 $(elem).show();

            }
            else{
                var elem = document.getElementById('logout');
                 $(elem).hide();
            }
    </script>
</body>                
{% endblock %}