  
{% extends 'base.html'%}
{% load static %}

{% block content %}
<body style="background-image: url({% static 'images/background1.2.jpg' %}); background-size: cover;background-position: center center;background-attachment: fixed;">

    <div class = "location-content">
        <div style="background-color:white; color: black; margin: 3%; border-radius:1rem;"><!--border-radius:10px-->
            <br>
            
            <!-- Search Locations: -->
            <!-- Current implementation is by zipcode: -->
            <div id="search-box" style = "background-color: #333;padding: 30px;margin-left: 5%;margin-right: 5%; margin-top: 1%;border-radius:10px;">
                <h1 class="text-center" style="font-family: Bearskin; flex-grow:1; color:white;">Which beary bite-tastic partners are near you?</h1>
                <form class="form-inline justify-content-center" method="POST">
                    {% csrf_token %}
                    <i class="fa fa-search fa-3x py-2 p-1" style="color:white;"></i>
                    <input class="form-control form-control-lg ml-3 w-40" type="text" name ="search" placeholder="Zipcode" aria-label="Search">
                    <input class="form-control form-control-lg ml-3 w-40" type="text" name ="searchName" placeholder="Restaurant Name" aria-label="SearchName">
                    <input style="margin-left:10px" type="submit" name="submit" value="submit" class="btn btn-primary btn-lg">
                </form>
            </div>
            
            <br>
            
            <h1 class="text-center" style="font-family: Bearskin; flex-grow:1;"> Locations: </h1>
            
            
            
            <!-- To Do: show restaurant upon clicking it. -->
            <div class = "card-deck" style = "margin:2%; padding-bottom:10rem;"> <!--padding-bottom:100px-->
                <!--Restaurant List-->
              
                <!-- To Do: Only show restaurants that are Open during current hours -->
                {% for restaurant in restaurants %}
                        <br>
                        <!--style=" max-width: 300px;border-radius:10px; padding:25px"-->
                        <a data-toggle="modal" data-target="#restaurantPop" href="" class="col-sm card text-decoration-none" style="margin-left:2rem;margin-right:2rem;width:10rem;max-width:30rem; max-height: 40rem; box-shadow: 0 0.4rem 0.8rem 0 rgba(0, 0, 0, 0.2); margin: auto; text-align: center; background-color:#333; border-radius:1rem; opacity: 0.9; padding:2.5rem;border-color:white; border-width:0.5rem;">
                                <!-- image of restaurant -->
                                <!--style="height:200px"-->
                                <div style="height:20rem; overflow: hidden;">
                                    <img src="{{restaurant.LogoUrl}}" style="width:35rem;"> <!--width:350px-->
                                </div> 
                                
                                <!-- restaurant name -->
                                <h1 style="color:#0094FF;">{{restaurant.RestaurantName}}</h1>
                                <!--style:"font-size:18px"-->
                                <p class="title" style = "color:white; font-weight:bold; font-size: large;font-family: sans seriff;">{{restaurant.address}}</p>
                                
                                <!-- availability -->
                                <!--style:"font-size:18px"-->
                                <p class="title" style = "color:white; font-weight:bold; font-size: large;font-family: sans seriff;">Available for Delivery!</p>
                                
                                <!-- restaurant item type -->
                                
                                <!-- button for ordering from -->
                                <!-- TO DO: Check if user is logged in first-> if not ask if they want to log in. -->
                                <!--style:"font-size:30px"-->
                                <p><input onclick= "" style="font-size:x-large;" type="submit" name="submit" value="Order Now!" class="btn btn-primary btn-lock btn-block"></button></p>
                                <!-- Supposed popup box that shows up when you click on resturant order button-->
                            </a>
                {% endfor %}
            </div>
            
            <div class="modal fade" role="dialog" tabindex="-1" id="restaurantPop">
                <div class =  "modal-dialog modal-lg" role="document" >
                    <div class = "modal-content">
                        
                        <!-- HEADER -->
                        <div class = "modal-header" style="background-image: url({% static 'images/banner.jpg' %}); background-size: cover;background-position: center center;background-attachment: fixed;">
                            <h2 style="color: #0094FF; border: 0.5rem solid black; padding:1rem; background:white;">Restaurant Name</h2> <i class="fa fa-times-circle fa-2x" aria-hidden="true" data-dismiss="modal"></i> 
                        </div>
                        
                        <div class = "modal-body" style="font-size:2.4rem;">
                            <div class="container">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#menu">Menu</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#about">About</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#reviews">Reviews</a>
                                    </li>
                                </ul>

                                <!-- Tab panes -->
                                <div class="tab-content">
                                    <div id="menu" class="container tab-pane active"><br>
                                        <h3>Menu Tab</h3>
                                        
                                        <!-- For typesOfItems in restaurantItemTypes-->
                                            <h4>Item Type (example:Entree)</h4> 

                                            <div class="row">
                                                <!-- For item in typeOfItems -->
                                                    <div class ="col-sm-6">
                                                        <div class="card">
                                                            <br>
                                                            <div class="card-body">
                                                                <h5>Item Name</h5>
                                                                <h6>Item Price</h6>
                                                                <p> Item Description Here</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                <!-- End For item in typeOfItems-->
                                            </div>
                                        <!-- End For typesOfItems in restaurantItemTypes-->
                                        
                                    </div>
                                    
                                    <div id="about" class="container tab-pane fade"><br>
                                        <h3>About Tab</h3>
                                    
                                    </div>
                                    
                                    <div id="reviews" class="container tab-pane fade"><br>
                                        <h3>Review Tab</h3>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- FOOTER -->
                        <div class = "modal-footer">
                            <a class="nav-link" href="/order/" style="color:black;font-size:x-large">Order Now!</a>
                            <!--<p><input onclick= "" style="font-size:30px;" type="submit" name="submit" value="Order Now!" class="btn btn-primary btn-lock btn-block"></button></p>-->
                        </div>
                        
                    </div>
                </div>
            </div>
            
        </div>
            
    </div>

</body>                
{% endblock %}