{% load static %}

<nav id="men" style="z-index: 99999;" class="navbar navbar-expand-md navbar-light bg-light sticky-top navbar-fixed-top">
<div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'brand/logoBanner.png' %}"  style="max-width:15vw;"></a>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav" style="font-size:2.0vw; padding-left:20vw;">
            <li class="nav-item">
                {% if userauthenticated == True %}
                <a class="nav-link" id="home" href="/dashboard">Home</a>
                {% else %}
                <a class="nav-link" id="home" href="/">Home</a>
                {% endif %}
            </li>
            <li class = "nav-item" style="width:15vw; text-align:center;">
                <a class="nav-link" href="/locations">Browse Locations</a>
            </li>
            
                {% if userauthenticated == True %}
                    <li class= "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown">{{ authenticated_user }}</a>
                    
                        <div class="dropdown-menu" style= "text-align: center; width: 300px !important; height: auto; padding:15px;"aria-labelledby="navbarDropdownMenuLink-4">
                            <b style="font-size:2.0vw;">Hello, {{ authenticated_user }}!</b>
                            <br><br>
                            <button type="button" style="font-size: 30px;" class="btn btn-primary btn-lock btn-block" onclick="window.location.href='/profile'">My Account</button>
                            <button type="button" style="font-size: 30px;" class="btn btn-primary btn-lock btn-block" onclick="window.location.href='/logout'">Logout</button>
                        </div>
                    </li>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="{% static 'brand/basket.png' %}" style="max-height: 40px;"></a>
                        
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"  style="padding:15px; width: 25vw;" >
                            <div style="text-align: center;">
                                <b style="font-size:2.0vw;">Your picnic basket is empty!</b>
                            </div>
                            <br>
                            <img src="{% static 'images/hanging.png' %}" style="max-height:10vh; position:absolute;">
                            <br>
                            <button type="button" style="font-size: 2.0vw;" class="btn btn-primary btn-lock btn-block" onclick="window.location.href='/order'">Check Out Now!</button>
                        </div>
                    </li> 
                {% else %}
                    <li class= "nav-item">
                        <a class="nav-link" id="login" href="/login" data-js-vars="{{ username }}"> Login</a>
                    </li>
                {% endif %}
            
        </ul>
        
    </div>  
</div>
</nav>