{% extends 'base.html'%}
{% load static %}
{% block content %}
<body style = "background-image: url({% static 'images/background1.2.jpg' %}); background-size: cover;background-position: center center;background-attachment: fixed;">
    <div class="container-fluid">
        <div class="row flex-nowrap wrapper">
            <div class="col-md-2 col-1 pl-0 pr-0 collapse width border-right sidebar vh-100">
                <div class="list-group border-0 card text-center text-md-left" id="sidebar">
                    <ul class="sidebar"> 
                        <li class="tablink" onclick="openPage('Profile', this)" id="defaultOpen">Profile</li>
                        <li class="tablink" onclick="openPage('Addresses', this)">Address</li>
                        <li class="dropdown-btn">Diet 
                            <i class="fa fa-caret-down"></i>
                        </li>
                        <div class="dropdown-container">
                            <a class="tablink" onclick="openPage('DietaryPreferences', this)">Diet Preference</a>
                            <a class="tablink" onclick="openPage('DietaryRestrictions', this) ">Diet Restriction</a>
                        </div>
                        <li class="tablink" onclick="openPage('Favorites', this)">Favorites</li>
                        <li class="tablink" onclick="openPage('OrderHistory', this)">Order History</li>
                    </ul>
                    
                    <script>
                        var dropdown = document.getElementsByClassName("dropdown-btn");
                        var i;

                        for (i = 0; i < dropdown.length; i++) {
                          dropdown[i].addEventListener("click", function() {
                              this.classList.toggle("active");
                              var dropdownContent = this.nextElementSibling;
                              if (dropdownContent.style.display === "block") {
                                dropdownContent.style.display = "none";
                              } else {
                                dropdownContent.style.display = "block";
                              }
                          });
                        }
                    
                    </script>
                    
                </div>
            </div>
            <main class="col px-5 pl-md-2 pt-2 main">
                <div class="col-sm-1" style="background-color:#262626; padding-left:30px;">
                    <a href="#" data-target=".sidebar" data-toggle="collapse"><i class="fa fa-bars fa-3x py-2 p-1" style="color:white;"></i></a>
                </div>
                <div class="row" style="font-size: x-large;">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-6">
                        <div id="profileui">
                            <!-- PROFILE INFORMATION -->
                            <div id="Profile" class="tabcontent">
                                <div class="container">
                                    <h1>User Profile</h1>
                                    {% for user in users %}
                                        <p style="display: inline-block;">First Name: <p style="display: inline-block;" id="First">{{user.FirstName}}</p></p>
                                        <p style="display: inline-block;">Last Name: <p style="display: inline-block;" id="Last">{{user.LastName}}</p></p>
                                        <p>Phone Number: {{user.Phone}}</p>
                                        <p>E-mail: {{user.Email}}</p>
                                        <div class="row">
                                            <button class = "btn" onclick="openPage('EditProfile', this)">Edit</button>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            
                            
                            <!-- PROFILE INFORMATION EDIT -->
                            <div id="EditProfile" class="tabcontent">
                                <div class="container">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        
                                        <h1>Edit User Profile</h1>
                                        {% for user in users %}
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">First Name: </label>
                                            <input type="text" name="firstname" value ="{{user.FirstName}}"></input>
                                        </div>
                                        
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">Last Name: </label>
                                            <input type="text" name="lastname" value ="{{user.LastName}}"></input>
                                        </div>
                                        
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">Phone Number: </label>
                                            <input type="text" name="phonenumber" value ="{{user.Phone}}"></input>
                                        </div>
                                        
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">E-mail: </label>
                                            <input type="text" name="email" value ="{{user.Email}}"></input>
                                        </div>
                                        {% endfor %}
                                        <div class="row">
                                            <input type="submit" value="Update">
                                        </div>
                                    </form>
                                </div>
                            </div>


                            <!-- ADDRESS INFORMATION -->
                            <div id="Addresses" class="tabcontent">
                                <div class="container">
                                    <h1>Addresses</h1>
                                    
                                    {% for address in addresses %}
                                    <p>Street:{{address.street}}</p>
                                    <p>Apt Number:{{address.apt}}</p>
                                    <p>City: {{address.city}}</p>
                                    <p>State: {{address.state}}</p>
                                    <p>Zip: {{address.zip}}</p>
                                    {% endfor %}
                                    
                                    <div class="row">
                                        <button class = "btn" onclick="openPage('EditAddresses', this);">Edit</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- ADDRESS INFORMATION EDIT -->
                            <div id="EditAddresses" class="tabcontent">
                                <div class="container">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        
                                        <h1>Edit Addresses</h1>
                                        
                                        {% for address in addresses %}
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">Street: </label>
                                            <input type="text" name="street" value ="{{address.street}}"></input>
                                        </div>
                                        
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">Aprt Number: </label>
                                            <input type="text" name="apt" value="{{address.apt}}"></input>
                                        </div>
                                        
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">City: </label>
                                            <input type="text" name="city" value="{{address.city}}"></input>
                                        </div>
                                        
                                        <!-- STATE DROPDOWN -->
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">State: </label>
                                            <select class="form-control" id="stateselect" value="{{address.state}}"  name="state"  style="font-family: sans-seriff;" value="{{address.state}}">
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California</option>
                                                <option value="CO">Colorado</option>
                                                <option value="CT">Connecticut</option>
                                                <option value="DE">Delaware</option>
                                                <option value="DC">District Of Columbia</option>
                                                <option value="FL">Florida</option>
                                                <option value="GA">Georgia</option>
                                                <option value="HI">Hawaii</option>
                                                <option value="ID">Idaho</option>
                                                <option value="IL">Illinois</option>
                                                <option value="IN">Indiana</option>
                                                <option value="IA">Iowa</option>
                                                <option value="KS">Kansas</option>
                                                <option value="KY">Kentucky</option>
                                                <option value="LA">Louisiana</option>
                                                <option value="ME">Maine</option>
                                                <option value="MD">Maryland</option>
                                                <option value="MA">Massachusetts</option>
                                                <option value="MI">Michigan</option>
                                                <option value="MN">Minnesota</option>
                                                <option value="MS">Mississippi</option>
                                                <option value="MO">Missouri</option>
                                                <option value="MT">Montana</option>
                                                <option value="NE">Nebraska</option>
                                                <option value="NV">Nevada</option>
                                                <option value="NH">New Hampshire</option>
                                                <option value="NJ">New Jersey</option>
                                                <option value="NM">New Mexico</option>
                                                <option value="NY">New York</option>
                                                <option value="NC">North Carolina</option>
                                                <option value="ND">North Dakota</option>
                                                <option value="OH">Ohio</option>
                                                <option value="OK">Oklahoma</option>
                                                <option value="OR">Oregon</option>
                                                <option value="PA">Pennsylvania</option>
                                                <option value="RI">Rhode Island</option>
                                                <option value="SC">South Carolina</option>
                                                <option value="SD">South Dakota</option>
                                                <option value="TN">Tennessee</option>
                                                <option value="TX">Texas</option>
                                                <option value="UT">Utah</option>
                                                <option value="VT">Vermont</option>
                                                <option value="VA">Virginia</option>
                                                <option value="WA">Washington</option>
                                                <option value="WV">West Virginia</option>
                                                <option value="WI">Wisconsin</option>
                                                <option value="WY">Wyoming</option>
                                            </select>
                                        </div>
                                        
                                        <div class="row">
                                            <label style="color: black; font-family: Bearskin">Zip Code: </label>
                                            <input type="text" name="zip" value="{{address.zip}}"></input>
                                        </div>
                                        
                                        {% endfor %}
                                        
                                        <div class="row">
                                            <input type="submit" value="Update">
                                        </div>
                                    </form>
                                </div>
                            </div>
                            
                            
                            <!-- DIET PREFERENCE INFORMATION EDIT -->
                            <div id="DietaryPreferences" class="tabcontent">      
                                <div class ="container">
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        <h1>Dietary Preferences</h1>
                                        <p>Check all preferences that apply.</p>
                                        
                                        <h1>Classification</h1>
                                        <div class="row">
                                                <div class="col-sm">Diabetic<p><input type="checkbox" name="p_checks[]" value="Diabetic" {{p_check_list.0}}></p></div>
                                                <div class="col-sm">Gluten-Free<p><input type="checkbox" name="p_checks[]" value="Gluten-Free" {{p_check_list.1}}></p></div>
                                                <div class="col-sm">Vegetarian<p><input type="checkbox" name="p_checks[]" value="Vegetarian" {{p_check_list.2}}></p></div>
                                            </div>
                                            <div class="row"> 
                                                <div class="col-sm">Vegan<p><input type="checkbox" name="p_checks[]" value="Vegan" {{p_check_list.3}}></p></div>
                                                <div class="col-sm">Pescetarian<p><input type="checkbox" name="p_checks[]" value="Pescetarian" {{p_check_list.4}}></p></div>
                                                <div class="col-sm">Kosher<p><input type="checkbox" name="p_checks[]" value="Kosher" {{p_check_list.5}}></p></div>
                                                
                                        </div>
                                        
                                        <h1>Diet</h1>
                                        <div class="row">
                                                <div class="col-sm">Paleo<p><input type="checkbox" name="p_checks[]" value="Paleo Diet" {{p_check_list.6}}></p></div>
                                                <div class="col-sm">Mediterranean<p><input type="checkbox" name="p_checks[]" value="Mediterranean Diet" {{p_check_list.7}}></p></div>
                                                <div class="col-sm">Keto<p><input type="checkbox" name="p_checks[]" value="Keto Diet" {{p_check_list.8}}></p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">High Protein<p><input type="checkbox" name="p_checks[]" value="High Protein" {{p_check_list.9}}></p></div>
                                                <div class="col-sm">Low Carb<p><input type="checkbox" name="p_checks[]" value="Low Carb" {{p_check_list.10}}></p></div>
                                                <div class="col-sm">Low Fat<p><input type="checkbox" name="p_checks[]" value="Low Fat" {{p_check_list.11}}></p></div>
                                        </div>
                                        <br></br>
                                        
                                        <h1>Type</h1>
                                        <div class="row">
                                                <div class="col-sm">Fast Food<p><input type="checkbox" name="p_checks[]" value="Fast Food" {{p_check_list.12}}></p></div>
                                                <div class="col-sm">Street Food<p><input type="checkbox" name="p_checks[]" value="Street Food" {{p_check_list.13}}></p></div>
                                                <div class="col-sm">Fresh Food<p><input type="checkbox" name="p_checks[]" value="Fresh Food" {{p_check_list.14}}></p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">Raw Food<p><input type="checkbox" name="p_checks[]" value="Raw Food" {{p_check_list.15}}></p></div>
                                                <div class="col-sm">Seafood<p><input type="checkbox" name="p_checks[]" value="Seafood" {{p_check_list.16}}></p></div>
                                                <div class="col-sm"></div>
                                            </div>
                                        <br></br>
                                        
                                        <h1>Health</h1>
                                        <div class="row">
                                                <div class="col-sm">Sugar-Free<p><input type="checkbox" name="p_checks[]" value="Sugar-Free" {{p_check_list.17}}></p></div>
                                                <div class="col-sm">Low-Sodium<p><input type="checkbox" name="p_checks[]" value="Low-Sodium" {{p_check_list.18}}></p></div>
                                                <div class="col-sm">Low-Cholesterol<p><input type="checkbox" name="p_checks[]" value="Low-Cholesterol" {{p_check_list.19}}></p></div>
                                            </div>
                                            <div class="row">  
                                                <div class="col-sm">Organic<p><input type="checkbox" name="p_checks[]" value="Organic" {{p_check_list.20}}></p></div>
                                                <div class="col-sm">Non-GMO<p><input type="checkbox" name="p_checks[]" value="Non-GMO" {{p_check_list.21}}></p></div>
                                                <div class="col-sm"></div>
                                        </div>
                                        <br></br>
                                                
                                        <h1>Region</h1>
                                        <div class="row">
                                                <div class="col-sm">Asian<p><input type="checkbox" name="p_checks[]" value="Asian" {{p_check_list.22}}></p></div>
                                                <div class="col-sm">African<p><input type="checkbox" name="p_checks[]" value="African" {{p_check_list.23}}></p></div>
                                                <div class="col-sm">American<p><input type="checkbox" name="p_checks[]" value="American" {{p_check_list.24}}></p></div>
                                                <div class="col-sm">Latin<p><input type="checkbox" name="p_checks[]" value="Latin" {{p_check_list.25}}></p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">European<p><input type="checkbox" name="p_checks[]" value="European" {{p_check_list.26}}></p></div>
                                                <div class="col-sm">Middle Eastern<p><input type="checkbox" name="p_checks[]" value="Middle Eastern" {{p_check_list.27}}></p></div>
                                                <div class="col-sm">Pacific<p><input type="checkbox" name="p_checks[]" value="Pacific" {{p_check_list.28}}></p></div>
                                                <div class="col-sm"></div>
                                            </div>
                                        <input type="submit" value="Update">
                                    </form>
                                </div>    
                            </div>
                            
                            
                            
                            <!-- DIET RESTRICTION INFORMATION --> 
                            <div id="DietaryRestrictions" class="tabcontent">
                                <div class ="container">
                                    <form action="" method="POST">
                                    {% csrf_token %}
                                        <h1>Dietary Restrictions</h1>
                                        <p>Check all restrictions that apply.</p>
                                        <h1>Type</h1>
                                        <div class="row">
                                                <div class="col-sm">Dairy<p><input type="checkbox" name="a_checks[]" value="Dairy" {{check_list.0}}></p></div>
                                                <div class="col-sm">Eggs<p><input type="checkbox" name="a_checks[]" value="Eggs" {{check_list.1}}></p></div>
                                                <div class="col-sm">Tree Nuts<p><input type="checkbox" name="a_checks[]" value="Tree Nuts" {{check_list.2}}></p></div>
                                                <div class="col-sm">Wheat<p><input type="checkbox" name="a_checks[]" value="Wheat" {{check_list.3}}></p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm">Peanuts<p><input type="checkbox" name="a_checks[]" value="Peanuts" {{check_list.4}}></p></div>
                                                <div class="col-sm">Soy<p><input type="checkbox" name="a_checks[]" value="Soy" {{check_list.5}}></p></div>
                                                <div class="col-sm">Fish<p><input type="checkbox" name="a_checks[]" value="Fish" {{check_list.6}}></p></div>
                                                <div class="col-sm">Shellfish<p><input type="checkbox" name="a_checks[]" value="Shellfish" {{check_list.7}}></p></div>
                                        </div>
                                        <br></br>
                                        <input type="submit" value="Update">
                                        <p>{{response}}</p>
                                    </form>
                                </div>
                            </div>


                            <!-- FAVORITES INFORMATION -->
                            <div id="Favorites" class="tabcontent">
                                <div class="container">
                                    <h1>Favorite Resturants</h1>
                                    <p>Resturants:</p>
                                    <ul>
                                        <li>{{favorites}}</li>
                                    </ul>
                                    <div class="row">
                                        <button class = "btn" onclick="openPage('EditFavorites', this)">Edit</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- FAVORITES INFORMATION EDIT -->
                            <div id="EditFavorites" class="tabcontent">
                                <div class="container">
                                    <form>
                                        <h1>Edit Favorites:</h1>
                                        <div class="row">
                                            <p>Resturants: </p>
                                        </div>
                                        
                                        <div class="row">
                                            <ul style="list-style-type:none;">
                                                <li><button id="deleteFavorite">View</button> {{favorites}} resturantName</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="row">
                                            <input type="submit" value="Back">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!-- ORDER HISTORY INFORMATION -->
                            <div id="OrderHistory" class="tabcontent">
                                <div class="container">
                                    <h1>Order History</h1>
                                    <p>Orders:</p>
                                    <ul>
                                        <li>{{orderHistory}}</li>
                                    </ul>
                                    <div class="row">
                                        <button class = "btn" onclick="openPage('EditOrderHistory', this)">Edit</button>
                                    </div>
                                </div>
                            </div>
                            
                            <!-- ORDER HISTORY INFORMATION EDIT -->
                            <div id="EditOrderHistory" class="tabcontent">
                                <div class="container">
                                    <form>
                                        <h1>Edit Orders:</h1>
                                        <div class="row">
                                            <ul style="list-style-type:none;">
                                                <li><button id="editOrder">Edit</button> {{orderHistory}} orderName</li>
                                            </ul>
                                        </div>
                                        
                                        <div class="row">
                                            <input type="submit" value="Back">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    /* Update menu for user */
                    var user = document.getElementById("First").innerHTML +" "+ document.getElementById("Last").innerHTML;
                    document.getElementById("home").innerHTML = "Dashboard";
                    document.getElementById("home").setAttribute("href", "/dashboard");
                    document.getElementById("login").innerHTML = user;
                    document.getElementById("login").setAttribute("href", "/profile");
                    var elem = document.getElementById('logout');
                    $(elem).show();


                    tabcontent = document.getElementsByClassName("tabcontent");
                    $(tabcontent).hide();


                    /* TAB CONTENT */
                    function openPage(pageName,element) {

                      if(pageName != "Profile"){
                        var orgurl = window.location.protocol + "/" + window.location.host +"/profile"
                        var newurl = "/profile/"+pageName +"/";
                        window.history.pushState({path:orgurl},'',newurl);
                      }
                      else{
                        window.history.pushState({path:orgurl},'',"/profile/");
                      }
                      var i, tabcontent, tablinks;
                        tabcontent = document.getElementsByClassName("tabcontent");
                        
                        $(tabcontent).hide();
                        
                        tablinks = document.getElementsByClassName("tablink");
                        var pickedElem = document.getElementById(pageName);
                        $(pickedElem).show();
                      
                    }
                    
                    // Get the element with id="defaultOpen" and click on it
                    document.getElementById("defaultOpen").click();
                   
                    

                  //   function selectElement(id, valueToSelect) {    
                   //      let element = document.getElementById(id);
                   //      element.value = valueToSelect;
                   //  }
                </script>     
                   
            </main>
        </div>
    </div>    
</body>
{% endblock %}