{% extends 'base.html'%}
{% load static %}
{% block content %}

<body style = "background-image: url({% static 'images/background1.2.jpg' %}); background-size: cover;background-position: center center; font-size: x-large; background-attachment: fixed;">
        <!--greeting-->
        <div class = "container">
            <div class = "jumbotron"; background:white;>
                <h1>Welcome, <p style="margin:0 0 0 0;display: inline-block;" >{{authenticated_user}}</p>!</h1>
                Last order on: {{orderDate}} at {{orderTime}} from {% for restaurant in recent_restaurants %} {% if recent_restaurants|length > 1 %}{% if restaurant == recent_restaurants|last %} and {% endif %}{% endif %}{{restaurant}}{% if recent_restaurants|length > 2 %}{% if restaurant != recent_restaurants|last %},{% endif %}{% endif %}{% endfor %}<br>
                {% for address in delivery_address %}
                                                          Delivered to {{address.StreetAddress}} {{address.AptNum}}, {{address.City}}, {{address.StateAbbv}} {{address.Zip}}
                                                        {% endfor %}
                <!--<button type = "button" class = "btn btn-default">Re-order Last Order</button>-->
            </div>
        </div>

        <!--Favorite Meals-->
        <div class="container">
            <div class="jumbotron">
                <h1>Your Favorites:</h1>
            </div>
        </div>

        <!--get menu of favorite restaurants and be able to filter
        {% for favorite in favorites %}
        <div class = "container">
            <div class = "jumbotron">
                <h1>{{favorite}}</h1>

            </div>
        </div>
        {% endfor%}-->
        <!--get menu of restaurant and be able to filer-->
        <!--{% for restaurant in restaurants%}
            <h1>{{restaurant.restaurantName}}</h1>
        {% endfor %}-->

        <!--popular restaurants near you-->
        <div class = "container">
            <div class = "jumbotron">
                <h1>Popular Restaurants Near You:</h1>
                <p>Carls Jr</p>
                <input class="form-control" id="myInput" type="text" placeholder="Search..">
                <table class = "table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Type</th>
                                <th>Discount</th>
                            </tr>
                        </thead>
                        <tbody id = "menu">
                            <tr>
                                <td>
                                    Famous Star with Cheese
                                </td>
                                <td>
                                    Burger, Food, Dairy
                                </td>
                                <td>
                                    no
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Beyond Famous Star
                                </td>
                                <td>
                                    Vegan, Vegetarian, Burger, Food
                                </td>
                                <td>
                                    yes
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cookie
                                </td>
                                <td>
                                    Vegetarian, Food, Dessert
                                </td>
                                <td>
                                    yes
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    French Fries
                                </td>
                                <td>
                                    Vegetarian, Side, Food
                                </td>
                                <td>
                                    no
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Coffee
                                </td>
                                <td>
                                    Vegan, Vegetarian, Beverage
                                </td>
                                <td>
                                    no
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Milkshake
                                </td>
                                <td>
                                    Vegetarian, Beverage, Dairy
                                </td>
                                <td>
                                    yes
                                </td>
                            </tr>
                        </tbody>
                    </table>
            </div>
        </div>
        <!--recommended-->
        <div class = "container">
                <div class = "jumbotron">
                    <div class = "panel-heading">
                        <h1>Recommended for You:</h1>
                    </div>
                <div class = "panel-body" style="max-width: 100px">
                    <div id="recommended" class="carousel slide">
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn btn-default">
                                    <img src="{% static 'images/carls_logo.jpg' %}" >
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

    <!--script for filter-->
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function(){
                var value = $(this).val().toLowerCase();
                $("#menu tr").filter(function(){
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
        var username = document.getElementById("login").getAttribute('data-js-vars');
            if (username != "") {
             // do something
                 document.getElementById("home").innerHTML = "Dashboard";
                 document.getElementById("home").setAttribute("href", "/dashboard");
                 document.getElementById("login").innerHTML = username;
                 document.getElementById("login").setAttribute("href", "/profile");
                 var elem = document.getElementById('logout');
                 $(elem).show();

            }
            else{
                var elem = document.getElementById('logout');
                 $(elem).hide();
            }
    </script>
</body>
{% endblock %}
